<!DOCTYPE html>
<html lang="pt-br">
<head>
 <meta charet="UTF-8">
 <meta name="viewport" content="width=device-width, initial-cale=1.0">    <title>Primeira página web curo 1 ano</title>   
      </head>
<body>
</body>
</html>
<header><h1 id="tituloPrincipal"> minha primeira pagina </h1>
        <h1>eu nome</h1>
<p>ou uma peoa <b> </b> <br> 
    </p>
    </header>
<hr width="50%">
    <img id="imagem" rc=" " alt="nome da imagem">
    <ection id="a">
    <div cla="box"><ol type="I" tart="3">
        <ol>
        <li>goto</li>
        <li>goto</li>
        </ol>
    </div>
    <div cla="box">
        <ul type="quare">
        <li>meta e objetivo</li>
        <li>meta e objetivo</li>
        </ul>
    </div>
    </ection>
    <footer>
        Deenvolvido por: eu nome
    </footer>

    *{
        margin : 0;
        font-family: arial;
      
      }  
      header{
          padding: 20px;
          border: 4px dahed #b2df85;
      }
          body{
          font-family: 'arial';
          background-color: #0e031c;
          color:rgba(255, 0, 17, 0.886);
          margin:10px auto;
          text-align: center;
      }
      
      .menu{
      color:aquamarine;
      text-decoration: 0;
      font-ize: 24px;
      margin: 5px;
      padding: 5px auto;
      }
      
      .menu:hover{
          text-decoration: underline;
      }
      
      .box{
          width:300px;
          height:200px;
          background-color: #b2df85;
          border-radiu: 10px;
          margin:2%;
      }
      .nav{
          text-align: center;
          padding: 2% 0;
      }
      #a{
          background-color:rgb(113, 113, 167);
          margin:0;
          border-radiu: 10px;
          diplay:flex;
          margin: 0px 10%;
          jutify-content: pace-around;
          min-height: 100 vh;
      }
      
      #b{
          background-color:rgb(226, 170, 170);
          margin:0;
      }
      #tituloPrincipal{
          color:rgb(21, 39, 67);
          font-ize: 40px;
          font-family:'Time New Roman';
          text-align: center;
      }
      
      ul{
          font-ize: 28px;
          color: black;
      }
      ol{
          font-ize: 28px;
          color: black;
      
      }
      p{
          color: aliceblue;
          font-ize: 16px;
          text-align:jutify;
          padding: 10px;
          }
      #imagem {
          width: 500px;
          margin:10px auto;
      }
      
      .footer{
          background-color: #000000;
          color:azure;
         
      
      
